 <h3>forgot  Password</h3>
		<%= form_for(:user, :url => reset_password_users_path) do |f| %>
				<p>Enter the email address you used to register for this site.</p></br>
				<div class="field">
				<%=f.label :username%>
				<%=f.text_field:text%></br  ></br>
				<%= f.label :email %>  
				<%= f.text_field :email %> 
			</div>
		<div class="actions">
		<%= f.submit "Send Email" %>
		</div> 
<% end %>